:root {
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    font-family: "Quicksand", sans-serif;
}
.nav__container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto 1fr auto;
    height: 46px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.046805);
}
.file-icon__container {
    padding-left: 20px;
}
.file-icon__container img {
    width: 23px;
    height: 18px;
    object-fit: cover;
    cursor: pointer;
}
.logo-nav__container img {
    width: 95px;
    height: 20px;
    object-fit: cover;
}
.nav-left__container {
    display: none;
}
.mobile-menu__container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    max-width: 350px;
    height: 670px;
    padding: 0px 40px 0px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.119789);
    background-color: var(--white);
}
.first-list__container, .second-list__container, .third-list__container {            
    list-style: none;
}
.first-list__container {
    padding-bottom: 40px;
}
.first-list__container li {
    margin-top: 30px;
}
.second-list__container {
    border-top: 1px solid #979797;
}
.second-list__container li {
    margin-top: 40px;
}
.third-list__container {
    padding-top: 80px;
}
.third-list__container li {
    margin-bottom: 5px;
}
.mobile-menu__container ul li {
    font-size: 1.6rem;
    font-weight: bold;
    color: #000000;
}
.mobile-menu__container ul li a {
    font-size: 1.6rem;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.third-list__container .email-text {
    font-size: 1.4rem;
    font-weight: 300;
    color: #000000;
}
.mobile-menu__container .third-list__container .green-text {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--hospital-green);
}
.nav-right__container {
    padding-right: 19px;
}
.nav-right__container img {
    width: 23px;
    height: 23px;
}
.nav-right__container p, .arrow-down {
    display: none;
} 
.shop-car-img__container {
    position: relative;
    cursor: pointer;
}
.nav-right__container li {
    display: flex;
    align-items: center;
} 
.nav-right__container .shop-car-img__container span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -3px;
    right: -4px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-size: 0.80rem;
    font-weight: 700;
    background-color: var(--hospital-green);
}
.shopping-cart__container {
    position: absolute;
    right: 0;
    top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 360px;
    padding: 25px 0px 20px 0px;
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.119789);
    border-radius: 10px 0px 10px 10px;
    background-color: var(--white);
}
.title__container {
    display: none;
}
.total-card__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 400px;
    height: 75px;
    margin-bottom: 20px;
    background-color: #F7F7F7;
    border-radius: 10px;
}
.total-card__container .left-text__container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.total-card__container .left-text__container span {
    font-size: 1.6rem;
    font-weight: bold;
    color: #000000;
}
.total-card__container .left-text__container .articles {
    font-size: 1.4rem;
    font-weight: 400;
    color: #797979;
}
.shopping-cart__container p {
    margin-right: 15px;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000;
}
.card-container-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 410px;
    height: 85px;
    margin-bottom: 15px;
}
.card-container-aside .left-card__container, .right-card__container {
    display: flex;
    align-items: center;
}
.card-container-aside figure img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}
.card-container-aside .close-icon img {
    width: 12px;
    height: 12px;
}
.card-container-aside .articles {
    font-size: 1.4rem;
    font-weight: 400;
    color: #797979;
    margin-left: 20px;
}
.cart-button__container {
    width: 90%;
}
.shopping-cart__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: var(--hospital-green);
    border: 1px solid #ACD9B2;
    border-radius: 10px;
    font-size: 1.8rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    line-height: 2.2rem;
    color: var(--white);
}
.card__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    justify-content: center;
    column-gap: 10px;
    row-gap: 30px;
    padding-top: 26px;
    padding-bottom: 20px;
}
.card-below__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.card-text__container .roboto-text {
    margin-bottom: 3px;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.card-text__container p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #797979;
}
.card img {
    width: 140px;
    height: 140px;
    object-fit: cover;
}
.car-icon img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.inactive{
    display: none;
}
@media (min-width: 1024px) {
    .nav__container {
        height: 55px;
        justify-items: start;
        padding: 0px 0px 0px 50px;
        box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.046805);
    }
    .nav__container li {
        list-style: none;
    }
    .file-icon__container {
        display: none;
    }
    .nav__container .logo-nav__container {
        margin: 15px 55px 15px 0px;
    }
    .nav__container .logo-nav__container img {
        width: 145px;
        height: 30px;
        object-fit: cover;
    }
    .nav-right__container {
        padding-right: 50px;
    }
    .nav-left__container {
        display: flex;
        align-items: center;
    }
    .nav-left__container li a {
        margin-left: 20px;
        border: 1px solid var(--white);
        padding: 5px;
        border-radius: 10px;
    }
    .nav-left__container li:nth-child(1) a {
        margin-left: 0px;
    }
    .nav-left__container a {
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 500;
        color: #C7C7C7;
        font-family: "Quicksand", sans-serif;
    }
    .nav__container .nav-left__container li a:hover {
        border: 1px solid var(--hospital-green);
        color: var(--hospital-green);
    }
    .nav-right__container {
        display: flex;
        align-items: center;
        padding-left: 30px;
    }
    .dropdown-click-pointer {
        cursor: pointer;
    }
    .nav-right__container p {
        display: block;
        margin-right: 10px;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .nav-right__container .arrow-down {
        display: block;
        width: 14px;
        height: 8px;
        margin-top: 5px;
        margin-right: 25px;
    }
    .dropdown-menu__container {
        display: block;
        position: absolute;
        top: 52px;
        right: 98px;
        width: 155px;
        height: 190px;
        padding: 25px;
        text-align: end;
        border-radius: 5px;
        box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.119789);
        background-color: var(--white);
    }
    .dropdown__list {
        list-style: none;
    }
    .dropdown__list li:nth-child(2) {
        margin-top: 30px;
    }
    .dropdown__list li:nth-child(3) {
        width: 100px;
        margin-top: 30px;
        margin-right: 25px;
        padding-top: 25px;
        border-top: 1px solid #979797;
    }
    .dropdown__list li a {
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 700;
        color: #000000;
    }
    .dropdown__list li .green-anchor {
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--hospital-green);
    }   
    .shopping-cart__container {
        top: 60px;
    }    
    .title__container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0px 25px 20px 25px;
    }
    .title__container h1 {
        margin-left: 25px;
        font-size: 1.8rem;
        font-weight: 700;
    }   
    .card__container {
        grid-template-columns: repeat(auto-fill, 240px);
        column-gap: 20px;
        row-gap: 30px;
        padding-top: 42px;
        padding-bottom: 20px;
    }
    .card-text__container .roboto-text {
        font-size: 1.6rem;
    }
    .card-text__container p {
        font-size: 1.4rem;
    }
    .card img {
        width: 240px;
        height: 240px;
        object-fit: cover;
    }
    .car-icon img {
        width: 45px;
        height: 45px;
        object-fit: cover;
    }
    .inactive {
        display: none;
    }
}